Source: direwolf
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders: Christoph Berg <myon@debian.org>,
	   Dave Hibberd <d@vehibberd.com>
Section: hamradio
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 13),
               libasound2-dev,
               libgps-dev,
               libhamlib-dev,
               libudev-dev [linux-any],
               adduser
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/debian-hamradio-team/direwolf
Vcs-Git: https://salsa.debian.org/debian-hamradio-team/direwolf.git
Homepage: https://github.com/wb2osz/direwolf

Package: direwolf
Architecture: linux-any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         adduser
Suggests: gpsd, python3
Breaks: direwolf-docs (<< 1.1-1)
Replaces: direwolf-docs (<< 1.1-1)
Description: Soundcard TNC for APRS
 Dire Wolf is a software "soundcard" modem/TNC and APRS encoder/decoder. It can
 be used stand-alone to receive APRS messages, as a digipeater, APRStt gateway,
 or Internet Gateway (IGate). It can also be used as a virtual TNC for other
 applications such as APRSIS32, UI-View32, Xastir, APRS-TW, YAAC, UISS, Linux
 AX25, SARTrack, and many others.
