#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DBINARY_TERMINAL_BIN=/usr/bin/x-terminal-emulator

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
